<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap 3, from LayoutIt!</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
		<form role="form">
			<div class="row">
			
				<div class="col-md-6 col-md-offset-3">
				
				    <!-- DADOS PESSOAIS -->
					<div class="row">
						<div class="col-md-12">			
							<div class="form-group form-group-sm">
								 
								<label for="exampleInputEmail1">
									Nome
								</label>
								<input type="text" value="NELSON CARLOS DA LUZ PIMENTEL MEIGA" class="form-control" id="exampleInputEmail1">
							</div>					
						</div>
					</div>
			
					<div class="row">
						<div class="col-md-12 ">
							<div class="form-group form-group-sm">
								<label for="exampleInputPassword1">
									Email
								</label>
								<input type="text" class="form-control" id="exampleInputPassword1">
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4 ">
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									CPF
								</label>
								<input type="text" class="form-control" id="exampleInputPassword1">
							</div>
						</div>
						
						<div class="col-md-4 ">
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Identidade
								</label>
								<input type="text" class="form-control" id="exampleInputPassword1">
							</div>
						</div>

						<div class="col-md-4 ">
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Orgão Expeditor
								</label>
								<input type="text" class="form-control" id="exampleInputPassword1">
							</div>
						</div>
						
					</div>
					
					<div class="row">
					
						<div class="col-md-5">
							<div class="form-group form-group-sm">
								<label for="exampleInputPassword1">
									Sexo
								</label>
								<select id="selectbasic" name="selectbasic" class="form-control">
									<option value="F">Feminino</option>
									<option value="M">Masculino</option>
								</select>
							</div>
						</div>

						<div class="col-md-7">
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Estado Civil
								</label>
								<select id="selectbasic" name="selectbasic" class="form-control">
									<option value="1">Option one</option>
									<option value="2">Option two</option>
								</select>
							</div>
						</div>						
						
					</div>
					
					<div class="row">
					    
					    <div class="col-md-4">						
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Nascimento
								</label>
								<input type="date" class="form-control" id="exampleInputPassword1">
							</div>						
						</div>
						
					    <div class="col-md-8">						
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Naturalidade
								</label>
								<select id="selectbasic" name="selectbasic" class="form-control">
									<option value="1">Option one</option>
									<option value="2">Option two</option>
								</select>
							</div>						
						</div>						
						
					</div>
					
					<!-- // DADOS PESSOAIS -->
					
					<!-- ENDERECO -->
					<div class="row">
					    
						<div class="col-md-4">			
							<div class="form-group form-group-sm">
								 
								<label for="exampleInputEmail1">
									CEP
								</label>
								<input type="text" class="form-control" id="exampleInputEmail1">
							</div>					
						</div>
						
					</div>
					
					<div class="row">
					    
						<div class="col-md-6">			
							<div class="form-group form-group-sm">
								 
								<label for="exampleInputEmail1">
									RUA
								</label>
								<input type="text" class="form-control" id="exampleInputEmail1">
							</div>					
						</div>
						
						<div class="col-md-2 col-md-offset-4">			
							<div class="form-group form-group-sm">
								 
								<label for="exampleInputEmail1">
									N°
								</label>
								<input type="numeric" class="form-control" id="exampleInputEmail1">
							</div>					
						</div>						
						
					</div>
					
					<div class="row">
					    
						<div class="col-md-6">			
							<div class="form-group form-group-sm">
								 
								<label for="exampleInputEmail1">
									Complemento
								</label>
								<input type="text" class="form-control" id="exampleInputEmail1">
							</div>					
						</div>
						
						<div class="col-md-6">			
							<div class="form-group form-group-sm">
								 
								<label for="exampleInputEmail1">
									Bairro
								</label>
								<input type="numeric" class="form-control" id="exampleInputEmail1">
							</div>					
						</div>
						
					</div>
					
					<div class="row">
					    
						<div class="col-md-6">			
							<div class="form-group form-group-sm">
								 
								<label for="exampleInputEmail1">
									Cidade
								</label>
								<input type="text" class="form-control" id="exampleInputEmail1">
							</div>					
						</div>
						
						<div class="col-md-6">			
							<div class="form-group form-group-sm">
								 
								<label for="exampleInputEmail1">
									Estado
								</label>
								<select id="selectbasic" name="selectbasic" class="form-control">
									<option value="1">Option one</option>
									<option value="2">Option two</option>
								</select>
							</div>					
						</div>
						
					</div>
					<!-- //ENDERECO -->
					
					<!-- DADOS DO CONJUGE -->
					<div class="row">
					    
						<div class="col-md-12">			
							<div class="form-group form-group-sm">
								 
								<label class="nobold" for="exampleInputEmail1">
									Nome do Cônjuge
								</label>
								<input type="email" class="form-control" id="exampleInputEmail1">
							</div>					
						</div>
						
					</div>
					
					<div class="row">
					    
						<div class="col-md-4">
							<div class="form-group form-group-sm">
								<label for="exampleInputPassword1">
									Data do casamento
								</label>
                                <input type="date" class="form-control" id="exampleInputPassword1">
							</div>
						</div>

						<div class="col-md-4 col-md-offset-4">
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Religião do cônjuge
								</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
							</div>
						</div>	
						
					</div>
					
					<!-- // DADOS DO CONJUGE -->
					
					<!-- PATERNIDADE -->
					<div class="row">
					
						<div class="col-md-12">						
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Pai
								</label>
								<input type="text" class="form-control" id="exampleInputPassword1">
							</div>						
						</div>
					
					</div>
					
					<div class="row">
					
						<div class="col-md-12">						
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Mãe
								</label>
								<input type="text" class="form-control" id="exampleInputPassword1">
							</div>						
						</div>
					
					</div>
					
					<!-- // PATERNIDADE -->
					
					<!-- DADOS BATISMO -->
					<div class="row">
					
						<div class="col-md-6">						
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Forma de admissão
								</label>
								<select id="selectbasic" name="selectbasic" class="form-control">
									<option value="1">Option one</option>
									<option value="2">Option two</option>
								</select>
							</div>						
						</div>
						
						<div class="col-md-3">
							<div class="form-group form-group-sm">
								<label for="exampleInputPassword1">
									Data profissão de fé
								</label>
                                <input type="date" class="form-control" id="exampleInputEmail1">
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Data do batismo
								</label>
                                <input type="date" class="form-control" id="exampleInputEmail1">
							</div>
						</div>						
						
					</div>
					
					<div class="row">
					
						<div class="col-md-12">						
							<div class="form-group form-group-sm">					 
								<label for="exampleInputPassword1">
									Pastor que Efetuou o Batismo
								</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
							</div>						
						</div>
						
					</div>
					
					<div class="row">
						
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label for="exampleInputPassword1">
									Igreja
								</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
							</div>
						</div>
						
					</div>
					
					<div class="row">
						
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label for="exampleInputPassword1">
									Endereço
								</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
							</div>
						</div>
						
					</div>
					
					<!-- // DADOS BATISMO -->
					
					<!-- DADOS PROFISSIONAIS -->
					
					<div class="row">
						
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label for="exampleInputPassword1">
									Profissão
								</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
							</div>
						</div>
						
					</div>
					
					<div class="row">
						
						<div class="col-md-6">
							<div class="form-group form-group-sm">
								<label for="exampleInputPassword1">
									Formação
								</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group form-group-sm">
								<label for="exampleInputPassword1">
									Fala idioma(s) estrangeiro(s)
								</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
							</div>
						</div>						
						
					</div>					
					
					<!-- //DADOS PROFISSIONAIS -->
					
					
				</div>

			</div>
		</form>
	</div>
	
	<!--<div class="container">-->
 <!--   	<div class="row">-->
 <!--           <div class="col-sm-8 col-sm-offset-2">-->
 <!--               <div id="form-container">-->
                
 <!--                 <div class="page-header text-center">-->
 <!--                     <h2>Let's Be Friends</h2>-->
                      
                      <!-- the links to our nested states using relative paths -->
                      <!-- add the active class if the state matches our ui-sref -->
 <!--                     <div id="status-buttons" class="text-center">-->
 <!--                         <a ui-sref-active="active" ui-sref=".profile"><span>1</span> Profile</a>-->
 <!--                         <a ui-sref-active="active" ui-sref=".interests"><span>2</span> Interests</a>-->
 <!--                         <a ui-sref-active="active" ui-sref=".payment"><span>3</span> Payment</a>-->
 <!--                     </div>-->
 <!--                 </div>-->
                  
                  <!-- use ng-submit to catch the form submission and use our Angular function -->
 <!--                 <form id="signup-form" ng-submit="processForm()">-->
                      <!-- our nested state views will be injected here -->
 <!--                     <div id="form-views" ui-view></div>-->
 <!--                 </form>-->
                
 <!--               </div>-->
 <!--           </div>-->
 <!--       </div>-->
 <!--   </div>-->

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!--    <script src="js/scripts.js"></script> -->
  </body>
</html>