					<!-- ENDERECO -->
					<div class="row">
					    
						<div class="col-md-4">			
							<div class="form-group form-group-sm">
								 
								<label for="cep">
									CEP {{casado}}
								</label>
								<input type="text" class="form-control" id="cep" ng-model="pessoa.endereco.cep">
							</div>					
						</div>
						
					</div>
					
					<div class="row">
					    
						<div class="col-md-6">			
							<div class="form-group form-group-sm">
								 
								<label for="rua">
									RUA
								</label>
								<input type="text" class="form-control" id="rua" ng-model="pessoa.endereco.rua">
							</div>					
						</div>
						
						<div class="col-md-2 col-md-offset-4">			
							<div class="form-group form-group-sm">
								 
								<label for="numero">
									N°
								</label>
								<input type="numeric" class="form-control" id="numero" ng-model="pessoa.endereco.numero">
							</div>					
						</div>						
						
					</div>
					
					<div class="row">
					    
						<div class="col-md-6">			
							<div class="form-group form-group-sm">
								 
								<label for="complemento">
									Complemento
								</label>
								<input type="text" class="form-control" id="complemento" ng-model="pessoa.endereco.complemento">
							</div>					
						</div>
						
						<div class="col-md-6">			
							<div class="form-group form-group-sm">
								 
								<label for="bairro">
									Bairro
								</label>
								<input type="numeric" class="form-control" id="bairro" ng-model="pessoa.endereco.bairro">
							</div>					
						</div>
						
					</div>
					
					<div class="row">
					    
						<div class="col-md-6">			
							<div class="form-group form-group-sm">
								 
								<label for="cidade">
									Cidade
								</label>
								<input type="text" class="form-control" id="cidade" ng-model="pessoa.endereco.cidade">
							</div>					
						</div>
						
						<div class="col-md-6">			
							<div class="form-group form-group-sm">
								 
								<label for="uf">
									Estado
								</label>
								<select id="uf" name="uf" class="form-control" ng-model="pessoa.endereco.uf">
									<option value="1">Option one</option>
									<option value="2">Option two</option>
								</select>
							</div>					
						</div>
						
					</div>
					<!-- //ENDERECO -->