					<!-- DADOS PROFISSIONAIS -->
					
					<div class="row">
						
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label for="profissao">
									Profissão
								</label>
                                <input type="text" class="form-control" id="profissao" ng-model="pessoa.profissao">
							</div>
						</div>
						
					</div>
					
					<div class="row">
						
						<div class="col-md-6">
							<div class="form-group form-group-sm">
								<label for="grauInstrucao">
									Formação
								</label>
                                <input type="text" class="form-control" id="grauInstrucao" ng-model="pessoa.grauInstrucao">
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group form-group-sm">
								<label for="idiomas">
									Fala idioma(s) estrangeiro(s)
								</label>
                                <input type="text" class="form-control" id="idiomas" ng-model="pessoa.idiomas">
							</div>
						</div>						
						
					</div>					
					
					<!-- //DADOS PROFISSIONAIS -->
