					<!-- PATERNIDADE -->
					<div class="row">
					
						<div class="col-md-12">						
							<div class="form-group form-group-sm">					 
								<label for="pai">
									Pai
								</label>
								<input type="text" class="form-control" id="pai" ng-model="pai.nome">
							</div>						
						</div>
					
					</div>
					
					<div class="row">
					
						<div class="col-md-12">						
							<div class="form-group form-group-sm">					 
								<label for="mae">
									Mãe
								</label>
								<input type="text" class="form-control" id="mae" ng-model="mae.nome">
							</div>						
						</div>
					
					</div>
					
					<!-- // PATERNIDADE -->