					<!-- DADOS DO CONJUGE -->
					<div class="row">
					    
						<div class="col-md-12">			
							<div class="form-group form-group-sm">
								 
								<label for="nome">
									Nome do Cônjuge
								</label>
								<input type="text" class="form-control" id="nome" ng-model="conjuge.nome">
							</div>					
						</div>
						
					</div>
					
					<div class="row">
					    
						<div class="col-md-4">
							<div class="form-group form-group-sm">
								<label for="dtCasamento">
									Data do casamento
								</label>
                                <input type="date" class="form-control" id="dtCasamento" ng-model="conjuge.dtCasamento">
							</div>
						</div>

						<div class="col-md-4 col-md-offset-4">
							<div class="form-group form-group-sm">					 
								<label for="religiao">
									Religião do cônjuge
								</label>
                                <input type="text" class="form-control" id="religiao" ng-model="conjuge.religiao">
							</div>
						</div>	
						
					</div>
					
					<!-- // DADOS DO CONJUGE -->
