					<!-- DADOS BATISMO -->
					<div class="row">
					
						<div class="col-md-8">						
							<div class="form-group form-group-sm">					 
								<label for="tpAdmissao">
									Forma de admissão
								</label>
								<select id="tpAdmissao" name="tpAdmissao" class="form-control" ng-model="pessoa.batismo.tpAdmissao">
									<option value="1">Option one</option>
									<option value="2">Option two</option>
								</select>
							</div>						
						</div>
						
						<div class="col-md-4">
							<div class="form-group form-group-sm">					 
								<label for="dtBatismo">
									Data do batismo
								</label>
                                <input type="date" class="form-control" id="dtBatismo" ng-model="pessoa.batismo.dtBatismo">
							</div>
						</div>						
						
					</div>
					
					<div class="row">
						
						<div class="col-md-4">
							<div class="form-group form-group-sm">
								<label for="dtProfissaoFe">
									Data profissão de fé
								</label>
                                <input type="date" class="form-control" id="dtProfissaoFe" ng-model="pessoa.batismo.dtProfissaoFe">
							</div>
						</div>						
					
						<div class="col-md-8">						
							<div class="form-group form-group-sm">					 
								<label for="nmPastor">
									Pastor que Efetuou o Batismo
								</label>
                                <input type="text" class="form-control" id="nmPastor" ng-model="pessoa.batismo.nmPastor">
							</div>						
						</div>
						
					</div>
					
					<div class="row">
						
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label for="nmIgreja">
									Igreja
								</label>
                                <input type="text" class="form-control" id="nmIgreja" ng-model="pessoa.batismo.nmIgreja">
							</div>
						</div>
						
					</div>
					
					<div class="row">
						
						<div class="col-md-12">
							<div class="form-group form-group-sm">
								<label for="dscEndereco">
									Endereço
								</label>
                                <input type="text" class="form-control" id="dscEndereco" ng-model="pessoa.batismo.dscEndereco">
							</div>
						</div>
						
					</div>
					
					<!-- // DADOS BATISMO -->